
/* 
    Created on : 19 mai 2020, 00:20:54
    Author     : Yasser
*/
.root{
    -fx-background-image: url("bank1.jpg");
    -fx-background-insets: -20,-10;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700, 450;
}
.button{
    
    -fx-background-color: 
        #1a1aff,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(0,0,0,0), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , black , 14, 0.0 , 6 , 0);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.label{
    -fx-text-fill: #003300 ;
    -fx-font-family : cursive;
    -fx-font-size: 25px;
    -fx-text-alignment: center;
}
.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 50 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
.text-field:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 50;
    -fx-padding: 0.166667em;
}
.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: white;
}